<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<div class="form">
    <div class="form-toggle"></div>
    <div class="form-panel one">
        <div class="form-header">
            <h1>Task</h1>
        </div>
        <div class="form-content">
            <form name = "myForm" th:action="@{/post}" th:object="${user}" method = "POST" >
                <div class="form-group">
                    <label for="username">UserName</label>
                    <input id="username" type="text" th:field="*{username}"/><br>
                    <span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span><br>
                </div>

                <div class="form-group">
                    <label for="address">Address</label>
                    <input id="address" type="text" th:field="*{address}"/><br>
                    <span class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span><br>
                </div>

                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input id="phone" type="text" th:field="*{phone}"/><br>
                    <span class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span><br>
                </div>
                <div class="form-group">
                    <button type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>